:root {
    --main-bg-color: #f5f6fa;
    --main-component-color:rgba(52, 152, 219,1);
  }
body{
    background:var(--main-bg-color);
}
#app {
    word-wrap: break-word;
}
#header,#footer{
    z-index: 30;
}
#content{
    z-index:20;
}
.notMargin{
    margin:0;
}
.bg-main-color{
    background:var(--main-component-color);
}
.pointer{
    cursor: pointer;
}

.full_img{
    position: relative;
    width:100%;
}
#body{
    position: relative;
    padding:0px 10px 0px 10px;
}
.site_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size:8vw;
}
